!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %link{:href => "slideshow.css", :rel => "stylesheet"}
    %script{:src => "slideshow.js", :type => "text/javascript"}
  %body
    #Slider
      #Arrows
        %i#Prev{:onclick => "updateCurrentImageIndex(-1)"} &lt
        %i#Next{:onclick => "updateCurrentImageIndex(1)"} &gt
    :javascript
      window.addEventListener('DOMContentLoaded', (event) => readSlides(window.location.search, fillSlider) );
